replicaCount:
  backend: 1
  frontend: 1
  pyxform: 1

image:
  backend:
    repository: ghcr.io/hotosm/xlsform-builder/backend
    # Override tag version; default Chart.AppVersion
    tag: ""
    pullPolicy: IfNotPresent
  frontend:
    repository: ghcr.io/hotosm/xlsform-builder/frontend
    # Override tag version; default Chart.AppVersion
    tag: ""
    pullPolicy: IfNotPresent
  pyxform:
    repository: ghcr.io/getodk/pyxform-http
    tag: "latest"
    pullPolicy: IfNotPresent

frontend:
  env:
    apiUrl: "https://api.xlsforms.field.hotosm.org"
    metadataUrl: "https://xlsforms.s3.amazonaws.com/metadata.json"

service:
  backend:
    type: ClusterIP
    port: 3001
  frontend:
    type: ClusterIP
    port: 80
  pyxform:
    type: ClusterIP
    port: 80

ingress:
  enabled: true
  className: nginx
  frontend:
    hostname: xlsforms.field.hotosm.org
  backend:
    hostname: api.xlsforms.field.hotosm.org
  tls:
    enabled: true
    secretName: xlsform-builder-tls

backend:
  env:
    s3BucketName: xlsforms
    awsRegion: us-east-1
    s3Endpoint: ""
    s3ExternalEndpoint: ""
    usePathStyle: "false"
  secrets:
    enabled: true
    secretName: xlsforms-s3-creds
    # If secrets.enabled is true, these keys will be used from the secret
    # Otherwise, you can set values directly (not recommended for production)
    # Note: In production, these same credentials are used for both sets of S3
    # variables used in the application
    awsAccessKeyId: ""
    awsSecretAccessKey: ""

resources:
  backend: {}
  frontend: {}
  pyxform: {}

pyxform:
  healthCheck:
    enabled: false
    path: /

nodeSelector: {}

tolerations: []

affinity: {}
