replicaCount:
  backend: 1
  frontend: 1

image:
  backend:
    repository: ghcr.io/hotosm/xlsform-builder/backend
    tag: "latest"
    pullPolicy: IfNotPresent
  frontend:
    repository: ghcr.io/hotosm/xlsform-builder/frontend
    tag: "latest"
    pullPolicy: IfNotPresent

service:
  backend:
    type: ClusterIP
    port: 8080
  frontend:
    type: ClusterIP
    port: 80

ingress:
  enabled: true
  className: nginx
  hostname: xlsforms.fieldtm.hotosm.org
  tls:
    enabled: true
    secretName: xlsform-builder-tls

resources:
  backend: {}
  frontend: {}

nodeSelector: {}

tolerations: []

affinity: {}


