{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "xlsform-builder.name" . }}
  annotations:
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.ingress.hostname }}
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if and .Values.ingress.tls.enabled .Values.ingress.tls.secretName }}
  tls:
    - hosts:
        - {{ .Values.ingress.hostname }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "xlsform-builder.frontendFullname" . }}
                port:
                  number: {{ .Values.service.frontend.port }}
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: {{ include "xlsform-builder.backendFullname" . }}
                port:
                  number: {{ .Values.service.backend.port }}
{{- end }}
