@import '@hotosm/ui/dist/style.css';
@import './_design-tokens.scss';

// Global Base Styles
html {
  overflow-x: hidden;
  overscroll-behavior: none;
}

.container {
  padding: $spacing-md;
  min-height: 100vh;
  font-family: $font-base;

  @include bp(md) {
    padding: $spacing-lg;
  }
}

// Global heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-barlow-bold;
  color: $color-text-heading;
}

hot-header {
  font-family: $font-base-semibold;
}

// Global link styles
a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

wa-input,
wa-textarea {
  --wa-focus-ring: none;
}
